# Python
__pycache__/
*.py[cod]
*.so
.Python
*.pyo
*.pyd

# Virtual Environment
env/
venv/
.env
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# GCP
gcp-ai-innovation-hub-34b03831a34a.json
*.json

# Logs
*.log

# Docker
Dockerfile
.dockerignore